@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.capitalize-first::first-letter {
    text-transform: uppercase;
  }

.inset-shadow {
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.5); 
  box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.5);
  }