@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.capitalize-first::first-letter {
    text-transform: uppercase;
  }

.inset-shadow {
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.5); 
  box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.5);
  }

  .react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px)
  }

  .react-confirm-alert-background {
    background: rgba(0, 0, 0, 0.8);
  }

  .react-confirm-alert-body {
    background: #345da7;
  }
  .react-confirm-alert-body h1{
    color:white
  }
  .react-confirm-alert-button-group button:first-child{
    background:green
  }